.masukan {
	background-color: #c5c4c4;
	border-radius: 5px;
	width: 90%;
}
.selek {
	position: relative;
	font-family: Arial;
	background-color: #c5c4c4;
}
.btn-tambah {
	border-radius: 10px;
	background-color: #c5c4c4;
}
.tabel, td {
	font-weight: bold;
	margin-left: 39%;
}
h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
}
.lihat-tabel {
	border-bottom: 1px solid #ff9999;
	margin-left: 26%;
	border-top: 5px solid #ff9999;
	border-top-style: double;
	width: 50%;
}
.jarak td {
	padding-left: 2%;
	padding-right: 2%;
	border-top: 1px solid;
	text-align: center;
	color: black;
}
.jarak, th {
	width: 16%;
	color: #8000ff;
}